
#red {
    border-color: red;
    color: red;
}

#blue {
    border-color: blue;
    color: blue;
}

#green {
    border-color: green;
    color: green;
}

#yellow {
    border-color: yellow;
    color: yellow;
}

#purple {
    border-color: purple;
    color: purple;
}

#turquoise {
    border-color: turquoise;
    color: turquoise;
}