body {
    margin: 0;
}

head {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-image: url('');*/
    color: #000000;
}

head-top {

}

logo {

}

buttons {

}

link {

}

Text {

}

Part-Upper {

}

Part-Lower {

}